@mixin buttonTransition {
  transition: color 0.25s ease-in-out, padding 0.3s ease-in-out;
}

header {
  width: 100%;
  outline: 0.25rem solid $primaryYellow;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 3rem 2rem;
  position: relative;
  overflow: hidden;

  nav {
    display: flex;
    gap: 0.5rem;

    a {
      @include buttonTransition();

      &:hover:not(.disabled) {
        color: $primaryOrange;
        padding: 0rem 0.25rem;
      }
    }
  }

  h2 a {
    @include buttonTransition();
    color: $primaryYellow;

    &:hover {
      padding-left: 1rem;
      text-decoration: none;
    }
  }
}

.colorBars {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;

  .colorBar {
    height: 100vh;
    width: 4rem;
    transition: width 0.25s ease-out;

    &:hover {
      width: 6rem;
    }

    &:first-child {
      background-color: $primaryYellow;
    }

    &:nth-child(2) {
      background-color: $primaryOrange;
    }

    &:nth-child(3) {
      background-color: $primaryRed;
    }

    &:nth-child(4) {
      background-color: $primaryBlue;
    }
  }
}
